shell.nix
cabal.sandbox.config
.cabal-sandbox
.stack-work
Setup
dist-newstyle

*.swp
tags

conf/*.cfg
conf/*.pem
conf/site_key.txt

log
/dist
snaplets
work
local
bin

docker-conf
docker/fix-attrs.d
client/.pulp-cache
moo.cfg
site_key.txt
.env
