shell.nix
cabal.sandbox.config
.cabal-sandbox
.stack-work
Setup

*.swp
tags

conf/*.cfg
conf/*.pem
conf/site_key.txt

log
dist
snaplets
work
local
bin

docker-conf
client/.pulp-cache
moo.cfg
site_key.txt
