port = 8000

siteKey = "/etc/aftok/snap-site-key"

db {
  host = "aftok-db"
  port = 5432
  user = "aftok"
  pass = "password"
  db = "aftok"

  # Nmuber of distinct connection pools to maintain.  The smallest acceptable
  # value is 1.
  numStripes = 1
  
  # Number of seconds an unused resource is kept open.  The smallest acceptable
  # value is 0.5 seconds.
  idleTime = 5
  
  # Maximum number of resources to keep open per stripe.  The smallest
  # acceptable value is 1.
  maxResourcesPerStripe = 20
}

smtpHost = "smtp.sendgrid.net"
smtpPort = 587
smtpUser = "your_sendgrid_username"
smtpKey  = "your_sendgrid_key"

billing {
  networkMode = "test"
  # Signing key for BIP-70 payment requests
  signingKeyFile = "/etc/aftok/aftok.bip70.key.pem"
  certsFile = "/etc/aftok/aftok.bip70-chain.cert.pem"
  exchangeRateServiceURI = "https://blockchain.info/ticker"
}

# templatePath = "/opt/aftok/server/templates"

recaptchaSecret = "your_secret_goes_here"

zcashd {
  rpcHost = "aftok-zcashd"
  rpcPort = 8232
  rpcUser = "your_user"
  rpcPassword = "your_pass"
}
