port = 8000

siteKey = "/etc/aftok/snap-site-key"

db {
  host = "127.0.0.1"
  port = 5432
  user = "aftok"
  pass = "password"
  db = "aftok"

  # Nmuber of distinct connection pools to maintain.  The smallest acceptable
  # value is 1.
  numStripes = 1
  
  # Number of seconds an unused resource is kept open.  The smallest acceptable
  # value is 0.5 seconds.
  idleTime = 5
  
  # Maximum number of resources to keep open per stripe.  The smallest
  # acceptable value is 1.
  maxResourcesPerStripe = 20
}

sendgridUser = "example"
sendgridKey = "abcdefg"

# templatePath = "/opt/aftok/server/templates"
